
version: '3.8'
services:
  sentinel-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - API_KEY=${GEMINI_API_KEY}
      - SPRING_PROFILES_ACTIVE=dev
    restart: always
